$icon-font-path: '../fonts/';

@import "bower_components/bootswatch/flatly/_variables.scss";

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

@import "bower_components/bootswatch/flatly/bootswatch.scss";

html, body {
    height: 95%;
}

.angular-google-map-container {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.fill { 
    min-height: 100%;
    height: 100%;
}

.home-container {
    margin: 0 10px 0 10px;
}

