<div class="fill well scrollable-div">
    <div class="fill spinner-container" ng-show="vm.dataIsLoading">
        <span class="centered" us-spinner spinner-on="vm.dataIsLoading"></span>
    </div>
    <div ng-hide="vm.dataIsLoading">
        <div ng-repeat="review in vm.reviews">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h1 class="panel-title text-center">
                        <a href="" ng-click="vm.showPlaceDetails(review)">{{review.place.name}}</a>
                    </h1>
                </div>
                <div class="panel-body">
                    <div class="container-fluid">
                        <div class="text-center">
                            <star-rating rating="review.rating" readonly="true"></star-rating>
                        </div>
                        <div class="text-center">
                            {{review.reviewText}}
                        </div>
                    </div>
                </div>
                <div class="panel-footer panel-footer-small">
                    <small>
                        - added @ {{review.createdOn | dateTime}} | <a href="" ng-click="vm.showPlaceOnMap(review)">View on map</a>
                    </small>
                </div>
            </div>
        </div>
    </div>
    <div ng-show="vm.noData" ng-cloak>
        <span class="centered">
            <h2>No reviews :(</h2>
        </span>
    </div>
</div>