<div class="fill well scrollable-div">
    <div class="fill spinner-container" ng-show="vm.dataIsLoading">
        <span class="centered" us-spinner spinner-on="vm.dataIsLoading"></span>
    </div>
    <div ng-hide="vm.dataIsLoading">
        <div ng-repeat="bookmark in vm.bookmarks">
            <blockquote>
                <p>
                    {{bookmark.place.name}} 
                    <span class="small-text">(<a href="" ng-click="vm.showPlaceDetails(bookmark)">Details</a>)</span>
                </p>
                <p>
                    {{bookmark.place.formatted_address ? bookmark.place.formatted_address : bookmark.place.vicinity}} 
                    <span class="small-text">(<a href="" ng-click="vm.showPlaceOnMap(bookmark)">View on map</a>)</span>
                </p>
                <small>
                    added @ {{bookmark.createdOn | dateTime}} | 
                    <a href="" confirm="Are you sure you want to remove the bookmark?"
                            confirm-setting="{ size: 'sm' }" confirm-title="Remove bookmark" confirm-ok="Yes" 
                            confirm-cancel="No" ng-click="vm.removeBookmark($index)" class="remove-bookmark">Remove bookmark :(</a>
                </small>
            </blockquote>
        </div>
    </div>
</div>