<div class="modal-header">
    <button type="button" class="close" ng-click="$close()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h2 class="modal-title" id="modal-title">
        <img ng-hide="vm.dataIsLoading" ng-src="{{vm.place.icon}}" width="15" height="15"></img> {{vm.place.name}}
    </h2>
</div>
<div class="modal-body" id="modal-body">
    <div class="spinner-container" ng-show="vm.dataIsLoading">
        <span us-spinner spinner-on="vm.dataIsLoading"></span>
    </div>
    <div class="container-fluid" ng-hide="vm.dataIsLoading">
        <p ng-show="vm.place.formatted_address || vm.place.vicinity">Address: {{vm.place.formatted_address ? vm.place.formatted_address : vm.place.vicinity}}</p>
        <p ng-show="vm.place.formatted_phone_number">Phone: {{vm.place.formatted_phone_number}}</p>
        <p ng-show="vm.place.html_attributions.length > 0">Links: <span ng-repeat="attr in vm.place.html_attributions">{{attr}}</span></p>
        <p ng-show="vm.place.permanently_closed">Place is closed: {{vm.place.permanently_closed | boolean}}</p>
        <p ng-show="vm.place.price_level">Expensivness: {{vm.place.price_level}}</p>
        <p ng-show="vm.place.rating">Rating:
            <star-rating ng-model="vm.place.rating" readonly="true" max="5"></star-rating>
        </p>
        <p ng-show="vm.place.types.length > 0">Types: <span ng-repeat="type in vm.place.types"> {{type}} </span></p>
        <p ng-show="vm.place.url">Google page: <a href="{{vm.place.url}}" target="__blank">ClickHere</a></p>
        <p ng-show="vm.place.website">Webpage: <a href="{{vm.place.website}}" target="__blank">Webpage</a></p>
        <p ng-show="vm.place.opening_hours.length > 0">Opening hours (Open Now: {{vm.place.opening_hours.open_now | boolean}}): <span ng-repeat="hour in vm.place.opening_hours.weekday_text">{{hour}}</span></p>
        <p ng-show="vm.place.photos.length > 0">
            Photos ({{vm.place.photos.length || 0}}):
            <a href="" ng-show="vm.hidePhotos" ng-click="vm.hidePhotos = false">Show photos</a>
            <a href="" ng-hide="vm.hidePhotos" ng-click="vm.hidePhotos = true">Hide photos</a>
        </p>

        <div uib-collapse="vm.hidePhotos" class="fade">
            <div uib-carousel active="true" interval="97000" no-wrap="false">
                <div uib-slide ng-repeat="photo in vm.place.photos" index="$index">
                    <img ng-src="{{photo.getUrl({maxWidth: photo.width, maxHeigth: photo.height})}}"></img>
                </div>
            </div>
        </div>

        <p ng-show="vm.place.reviews.length > 0">
            Reviews ({{vm.place.reviews.length || 0}}):
            <a href="" ng-show="vm.hideReviews" ng-click="vm.hideReviews = false">Show reviews</a>
            <a href="" ng-hide="vm.hideReviews" ng-click="vm.hideReviews = true">Hide reviews</a>
        </p>
        <div uib-collapse="vm.hideReviews" class="fade">
            <div uib-carousel active="true" interval="97000" no-wrap="false">
                <div uib-slide ng-repeat="review in vm.place.reviews" index="$index">
                    <review author="review.author_name" created-on="review.time" review-text="review.text" rating="review.rating"></review>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-8 col-lg-8 full-width text-left">
            <div ng-hide="vm.dataIsLoading">
                <span if-not-user>
                    <button type="button" ng-hide="vm.hideBookmark" class="btn btn-danger full-width margin-bottom text-left" disabled="disabled">
                        <i class="fa fa-heart" aria-hidden="true"></i> Add to bookmarks
                    </button>
                    <button type="button" ng-show="vm.hideBookmark" class="btn btn-default full-width margin-bottom text-left" disabled="disabled">
                        <i class="fa fa-frown-o" aria-hidden="true"></i> Remove bookmarks
                    </button>
                </span>
                <span if-user>
                    <button type="button" ng-hide="vm.hideBookmark" class="btn btn-danger full-width margin-bottom text-left" ng-click="vm.addToBookmarks()">
                        <i class="fa fa-heart" aria-hidden="true"></i> Add to bookmarks
                    </button>
                    <button type="button" ng-show="vm.hideBookmark" class="btn btn-default full-width margin-bottom text-left" 
                            ng-click="vm.removeFromBookmarks()" confirm="Are you sure you want to remove the bookmark?"
                            confirm-setting="{ size: 'sm' }" confirm-title="Remove bookmark" confirm-ok="Yes" confirm-cancel="No">
                        <i class="fa fa-frown-o" aria-hidden="true"></i> Remove bookmarks
                    </button>
                </span>
            </div>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 full-width">
            <span if-not-user>
                <button type="button" class="btn btn-success full-width margin-bottom" ng-hide="vm.addReviewToggle" disabled="disabled">Add review</button>
            </span>
            <span if-user>
                <button type="button" class="btn btn-success full-width margin-bottom" ng-hide="vm.addReviewToggle" ng-click="vm.toggleAddReview()">Add review</button>
            </span>
            <button type="button" class="btn btn-primary full-width" ng-click="$close()">Close</button>
        </div>
    </div>
</div>
<div uib-collapse="!vm.addReviewToggle" class="add-review-container fade">
    <fieldset>
        <div class="form-group">
            <label for="textArea" class="col-lg-2 control-label">Rating:</label>
            <div class="col-lg-10">
                <star-rating ng-model="vm.newReview.rating" max="5"></star-rating>
            </div>
        </div>
        <div class="form-group">
            <label for="textArea" class="col-lg-2 control-label">Review:</label>
            <div class="col-lg-10">
                <textarea name="newReviewText" id="newReviewText" ng-model="vm.newReview.reviewText" class="form-control" rows="3"></textarea>
                <span class="help-block">Watch your language.</span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-lg-10 col-lg-offset-2">
                <span if-not-user>
                    <button type="button" class="btn btn-success" disabled="disabled">Add review</button>
                </span>
                <span if-user>
                    <button type="button" class="btn btn-success" ng-click="vm.saveReview()">Add review</button>
                </span>
                <button type="button" class="btn btn-warning" ng-click="vm.toggleAddReview() ">Cancel</button>
            </div>
        </div>
    </fieldset>
</div>