<div class="fill well scrollable-div">
    <div class="fill spinner-container" ng-show="vm.dataIsLoading">
        <span class="centered" us-spinner spinner-on="vm.dataIsLoading"></span>
    </div>
    <div ng-hide="vm.dataIsLoading">
        <div ng-repeat="review in vm.reviews">
            <blockquote>
                <star-rating ng-model="review.rating" readonly="true"></star-rating>
                <p>{{review.reviewText}}</p>
                <small>{{review.place.name}}
                    <span class="small-text">(<a href="" ng-click="vm.showPlaceDetails(review)">Details</a></span> | 
                    <span class="small-text"><a href="" ng-click="vm.showPlaceOnMap(review)">View on map</a>)</span> 
                    <cite title="Source Title">@ {{review.createdOn | dateTime}}</cite>
                </small>
            </blockquote>
        </div>
    </div>
    <div ng-show="vm.noData" ng-cloak>
        <span class="centered">
            <h2>No reviews :(</h2>
        </span>
    </div>
</div>