<div class="search-form-container">
    <div class="col-md-12">
        <form name="searchForm" class="form-horizontal" novalidate ng-submit="vm.search()">
            <fieldset>
                <legend>Search places</legend>
                <div class="form-group" id="place-placeholder" ng-class="{ 'has-error': searchForm.place.$invalid && (searchForm.place.$dirty || searchForm.place.$touched || searchForm.$submitted) }">
                    <label for="place" class="control-label">Place</label>
                    <input type="text" class="form-control" name="place" id="place" placeholder="McDonald's" required ng-model="vm.searchData.place"/>
                    <div class="help-block" ng-messages="searchForm.place.$error" ng-show="searchForm.place.$dirty || searchForm.place.$touched || searchForm.$submitted">
                        <div ng-messages-include="templates/core/error-messages.tpl.html"></div>
                    </div>
                </div>
                <div class="form-group" ng-class="{ 'has-error': searchForm.radius.$invalid && (searchForm.radius.$dirty || searchForm.radius.$touched || searchForm.$submitted) }">
                    <label for="radius" class="control-label">Radius</label>
                    <input type="number" class="form-control" name="radius" id="radius" ng-model="vm.searchData.radius" placeholder="700 meters"
                        required>
                    <div class="help-block" ng-messages="searchForm.radius.$error" ng-show="searchForm.radius.$dirty || searchForm.radius.$touched || searchForm.$submitted">
                        <div ng-messages-include="templates/core/error-messages.tpl.html"></div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label">Where</label>
                    <div class="radio">
                        <label><input type="radio" ng-model="vm.searchData.location" ng-change="vm.locationChanged(vm.searchData.location)" name="location" value="near" ng-checked="true">Near me</label>
                        <label><input type="radio" ng-model="vm.searchData.location" ng-change="vm.locationChanged(vm.searchData.location)" name="location" value="notnear">Remote location</label>
                    </div>
                </div>
                <div class="form-group" id="remoteLocation-placeholder" ng-show="vm.searchData.location !== 'near'">
                    <label for="remoteLocation" class="control-label">Remote location</label>
                    <input class="form-control" name="remoteLocation" id="remoteLocation" placeholder="Work area" places-auto-complete ng-model="vm.searchData.remoteLocation"
                        type="vm.types" on-place-changed="vm.remoteLocationChanged()" />
                </div>

                <div class="form-group">
                    <div class="col-lg-12">
                        <button type="submit" class="btn btn-block btn-primary">Search</button>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>