<!doctype html>
<html class="no-js" lang="en" ng-app="LicentaWeb">

<head>
  <meta charset="utf-8">
  <meta name="description" content="FindIt">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <title>FindIt</title>

  <link rel="apple-touch-icon" href="apple-touch-icon.png">
  <!-- Place favicon.ico in the root directory -->

  <!-- build:css styles/vendor.css -->
  <!-- bower:css -->
  <!-- endbower -->
  <!-- endbuild -->

  <!-- build:css styles/main.css -->
  <link rel="stylesheet" href="styles/main.css">
  <!-- endbuild -->

  <!-- build:js scripts/vendor/modernizr.js -->
  <script src="/bower_components/modernizr/modernizr.js"></script>
  <!-- endbuild -->
</head>

<body>
  <!--[if lt IE 10]>
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
  <nav class="navbar navbar-default" ng-controller="navController">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
        <a class="navbar-brand" href="#">Findit</a>
      </div>

      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown" ng-show="auth.isAuthenticated">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Welcome {{auth.profile.email}} <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="#">Bookmarks</a></li>
              <li><a href="#">Your reviews & ratings</a></li>
            </ul>
          </li>
          <li><a ng-show="auth.isAuthenticated" href="#" ng-click="logout()">Log out</a></li>
          <li><a ng-show="!auth.isAuthenticated" href="#" ng-click="login()">Log in</a></li>
        </ul>
      </div>
    </div>
  </nav>
  <!--<div class="container">-->
    <ui-view>
      Loading...
    </ui-view>
  <!--</div>-->
  <!--<footer class="footer navbar-fixed-bottom">
    <div class="container">
      <p class="text-muted">Find the places you are looking for</p>
    </div>
  </footer>-->
  <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
  <script>
      (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
      function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
      e=o.createElement(i);r=o.getElementsByTagName(i)[0];
      e.src='https://www.google-analytics.com/analytics.js';
      r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
      ga('create','UA-XXXXX-X');ga('send','pageview');
    </script>

  <!-- build:js scripts/vendor.js -->
  <!-- bower:js -->
  <script src="/bower_components/jquery/dist/jquery.js"></script>
  <script src="/bower_components/angular/angular.js"></script>
  <script src="/bower_components/angular-simple-logger/dist/angular-simple-logger.js"></script>
  <script src="/bower_components/lodash/lodash.js"></script>
  <script src="/bower_components/markerclustererplus/src/markerclusterer.js"></script>
  <!--<script src="/bower_components/google-maps-utility-library-v3-markerwithlabel/dist/markerwithlabel.js"></script>
  <script src="/bower_components/google-maps-utility-library-v3-infobox/dist/infobox.js"></script>
  <script src="/bower_components/google-maps-utility-library-v3-keydragzoom/dist/keydragzoom.js"></script>
  <script src="/bower_components/js-rich-marker/src/richmarker.js"></script>-->
  <script src="/bower_components/angular-google-maps/dist/angular-google-maps.js"></script>
  <script src="/bower_components/angularjs-geolocation/src/geolocation.js"></script>
  <script src="/bower_components/angular-ui-router/release/angular-ui-router.js"></script>
  <script src="/bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
  <script src="/bower_components/angular-animate/angular-animate.js"></script>
  <script src="/bower_components/angular-jwt/dist/angular-jwt.js"></script>
  <script src="/bower_components/angular-cookies/angular-cookies.js"></script>
  <script src="/bower_components/a0-angular-storage/dist/angular-storage.js"></script>
  <script src="/bower_components/auth0-lock/build/auth0-lock.js"></script>
  <script src="/bower_components/auth0.js/build/auth0.js"></script>
  <script src="/bower_components/auth0-angular/build/auth0-angular.js"></script>
  <script src="/bower_components/angular-messages/angular-messages.js"></script>
  <!-- endbower -->
  <!-- endbuild -->

  <!-- build:js scripts/plugins.js -->
  <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/affix.js"></script>
  <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/alert.js"></script>
  <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/dropdown.js"></script>
  <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/tooltip.js"></script>
  <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/modal.js"></script>
  <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/transition.js"></script>
  <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/button.js"></script>
  <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/popover.js"></script>
  <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/carousel.js"></script>
  <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/scrollspy.js"></script>
  <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/collapse.js"></script>
  <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/tab.js"></script>
  <!-- endbuild -->

  <!-- build:js scripts/main.js -->
  <script src="scripts/app.js"></script>

  <script src="scripts/modules/home/homeController.js"></script>
  <script src="scripts/modules/home/homeService.js"></script>
  <script src="scripts/modules/nav/navController.js"></script>

  <script src="scripts/directives/compareToDirective.js"></script>
  <!-- endbuild -->
</body>

</html>